<section>
  <div class="searchBox">
    <div class="inputBox">
      <input type="text" placeholder="Enter title" [(ngModel)]="filterTaskValue" (keyup)="filterExistingTask()">
      <img src="assets/img/vector3.svg" alt="">
      <img src="assets/img/search.svg" alt="" class="searchImg">
    </div>
    <button (click)="createNewTask('toDo')" >New Task <img src="assets/img/plus.svg" alt=""></button>
  </div>
  @if (toggleService.openBoard) {
    <div class="droppBoxes">
      <div class="dragRow">
        <div class="headerOfBar">
          <h1>To do</h1>
          <img src="assets/img/plus_button.svg" alt="" (click)="createNewTask('toDo')" class="curserPointer">
        </div>
        <div class="dragAreaBox">
          <div
            appOnDragHighlight  id="toDo" #todoArea class="dragArea"
            (drop)="moveTo('toDo')" (dragleave)="removeHighlight('toDo')" (dragover)="allowDrop($event); highlight('toDo')">
            @if( !filterExistingTask() ){
              @if(getToDOCategory()){
                @for (item of toDoCategory; track $index;) {
                  <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                    [category]="item.categoryTask"
                    [assignetTo]="item.assignetTo"
                    [createtBy]="item.createtBy"
                    [date]="item.date"
                    [description]="item.description"
                    [priority]="item.priority"
                    [subtasks]="item.subtasks"
                    [title]="item.title"
                    [id]="item.id"
                  ></app-task>
                } 
              }
            } @else {
              @for (item of toDoCategory; track $index;) {
                <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                  [category]="item.categoryTask"
                  [assignetTo]="item.assignetTo"
                  [createtBy]="item.createtBy"
                  [date]="item.date"
                  [description]="item.description"
                  [priority]="item.priority"
                  [subtasks]="item.subtasks"
                  [title]="item.title"
                  [id]="item.id"
                ></app-task>
              } 
            }
          </div>
        </div>  
      </div>
      <div class="dragRow">
        <div class="headerOfBar">
          <h1>In progress</h1>
          <img src="assets/img/plus_button.svg" alt="" (click)="createNewTask('inProgress')" class="curserPointer">
        </div>
        <div class="dragAreaBox">
          <div
            appOnDragHighlight class="dragArea" id="inProgress" #inProgressArea
            (drop)="moveTo('inProgress')" (dragleave)="removeHighlight('inProgress')" (dragover)="allowDrop($event); highlight('inProgress')">
            @if( !filterExistingTask() ){
              @if(getInProgressCategory()){ 
                @for (item of inProgressCategory; track $index;) {
                  <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                    [category]="item.categoryTask"
                    [assignetTo]="item.assignetTo"
                    [createtBy]="item.createtBy"
                    [date]="item.date"
                    [description]="item.description"
                    [priority]="item.priority"
                    [subtasks]="item.subtasks"
                    [title]="item.title"
                    [id]="item.id"
                  ></app-task>          
                }
              }
            } @else {
              @for (item of inProgressCategory; track $index;) {
                <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                  [category]="item.categoryTask"
                  [assignetTo]="item.assignetTo"
                  [createtBy]="item.createtBy"
                  [date]="item.date"
                  [description]="item.description"
                  [priority]="item.priority"
                  [subtasks]="item.subtasks"
                  [title]="item.title"
                  [id]="item.id"
                ></app-task>          
              }
            }
          </div>
        </div>
      </div>
      <div class="dragRow">
        <div class="headerOfBar">
          <h1>Await feedback</h1>
          <img src="assets/img/plus_button.svg" alt="" (click)="createNewTask('awaitFeedback')" class="curserPointer">
        </div>
        <div class="dragAreaBox">
          <div
          appOnDragHighlight class="dragArea" id="awaitFeedback" #awaitFeedbackArea
          (drop)="moveTo('awaitFeedback')" (dragleave)="removeHighlight('awaitFeedback')" (dragover)="allowDrop($event); highlight('awaitFeedback')">
          @if( !filterExistingTask() ){
            @if(getAwaitFeedbackCategory()){ 
              @for (item of awaitFeedbackCategory; track $index;) {
                <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                  [category]="item.categoryTask"
                  [assignetTo]="item.assignetTo"
                  [createtBy]="item.createtBy"
                  [date]="item.date"
                  [description]="item.description"
                  [priority]="item.priority"
                  [subtasks]="item.subtasks"
                  [title]="item.title"
                  [id]="item.id"
                ></app-task>            
              }
            }
          } @else{
            @for (item of awaitFeedbackCategory; track $index;) {
              <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                [category]="item.categoryTask"
                [assignetTo]="item.assignetTo"
                [createtBy]="item.createtBy"
                [date]="item.date"
                [description]="item.description"
                [priority]="item.priority"
                [subtasks]="item.subtasks"
                [title]="item.title"
                [id]="item.id"
              ></app-task>            
            }
          }
        </div>
        </div>
      </div>
      <div class="dragRow paddingBottom">
        <div class="headerOfBar">
          <h1>Done</h1>
        </div>
        <div class="dragAreaBox">
          <div
          appOnDragHighlight class="dragArea" id="done" #doneArea
          (drop)="moveTo('done')" (dragleave)="removeHighlight('done')" (dragover)="allowDrop($event); highlight('done')">
          @if( !filterExistingTask() ){
            @if(getDoneategory()){ 
              @for (item of doneCategory; track $index;) {
                <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                  [category]="item.categoryTask"
                  [assignetTo]="item.assignetTo"
                  [createtBy]="item.createtBy"
                  [date]="item.date"
                  [description]="item.description"
                  [priority]="item.priority"
                  [subtasks]="item.subtasks"
                  [title]="item.title"
                  [id]="item.id"
                ></app-task>
              }
            }
          } @else {
            @for (item of doneCategory; track $index;) {
              <app-task (dragstart)="startDragging(item.id)" draggable="true" 
                [category]="item.categoryTask"
                [assignetTo]="item.assignetTo"
                [createtBy]="item.createtBy"
                [date]="item.date"
                [description]="item.description"
                [priority]="item.priority"
                [subtasks]="item.subtasks"
                [title]="item.title"
                [id]="item.id"
              ></app-task>
            }
          }
        </div>
        </div>
      </div>
    </div>
  }
</section>

<app-board-add-task [ngClass]="{dBlock: openAddNewTaskWindow , dNone: !openAddNewTaskWindow}" 
  [CategorY]="CategorY"
  [openAddNewTaskWindow]="openAddNewTaskWindow" 
  (closeBigWindow)="toggleBoolean($event)"
></app-board-add-task>