@import "../../../../../styles.scss";

section{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;

}

.grayBackround{
    width: 100vw;
    height: 100dvh;
    position: absolute;
    cursor: default;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: rgba(128, 128, 128, 0.1);
}

.whiteBox{
    z-index: 21;
    width: 40vw;
    height: 80dvh;
    background-color: white;
    border-radius: 32px;
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1380px) {
    section{
        top: auto;
        bottom: 0;
    }
}

@media (max-width: 1000px) {

    .whiteBox{
        width: 80vw;
    }
}