@import "../../../../styles.scss";

section{
    width: 240px;
    height: 220px;
    border-radius: 20px;
    border: 2px solid #a6a6a6;
    background-color: white;
    @include displayFlex($j: space-between, $a: flex-start);
    flex-direction: column;
    padding: 12px;
    transition: .3s ease-in-out;
    position: relative;
    &:hover{
        scale: 1.05;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    h1{
        color: #4589ff;
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: larger;
        max-width: 220px;
        margin-bottom: 0;
    }
    .description{
        text-align: left;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        color: #a8a8a8;
        max-width: 220px;
    }
}

.mobileDragSwitch{
    filter: brightness(0) saturate(100%) invert(41%) sepia(88%) saturate(443%) hue-rotate(180deg) brightness(106%) contrast(108%);
    height: 24px;
    width: 24px;
    position: absolute;
    top: 13px;
    right: 9px;
    cursor: pointer;
}

.technicalTask{
    border-radius: 12px;
    background: #ff7a00;
    padding: 4px;
    color: white;
    font-weight: 400;
}

.userStory{
    border-radius: 12px;
    background: #0ada1b;
    padding: 4px;
    color: white !important;
    font-weight: 400;
}


.selectedContactBox{
    width: 100%;
    @include displayFlex($j: space-between);
    .selectedContacts{
        @include displayFlex($j: flex-start);
        max-width: 182px;
        padding: 4px;
        padding-left: 20px;
        overflow-x: scroll;
    }
}

.userNameBox{
    margin-left: -12px;
    @include displayFlex();
    box-shadow: rgba(99, 99, 99, 0.4) 0px 2px 8px 0px;
    border-radius: 50%;
    .userBackground{
        border: 3px solid white;
        min-height: 32px;
        min-width: 32px;
        border-radius: 50%;
        @include displayFlex();
        color: white !important;
    }
}

.positionBar {
    width: 100%;
    height: auto;
    @include displayFlex($j: space-between);
  
    mat-progress-bar {
        background: #aed0ec !important;
        border-radius: 10px;
        color: #4589ff !important;
    }
    span{
        margin-left: 12px;
        min-width: 40px;
        text-align: end;
    }
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-track-height: 12px;
    --mdc-linear-progress-active-indicator-height: 12px;
}

.mat-mdc-progress-bar {
    --mdc-linear-progress-active-indicator-color: rgb(51, 137, 235);
    --mdc-linear-progress-track-color: rgb(219, 219, 219);
}

  
@media (max-width: 1380px) {
    section{
        width: 200px;
        height: 192px;
        h1{
            max-width: 160px;
        }
        .description{
            max-width: 160px;
        }
    }

    .mat-mdc-progress-bar {
        --mdc-linear-progress-track-height: 10px;
        --mdc-linear-progress-active-indicator-height: 10px;
    }

    .selectedContactBox{
        .selectedContacts{
            max-width: 128px;
        }
    }

    .userNameBox{
        .userBackground{
            border: 3px solid white;
        }
    }

    .smallBox{
        border: 1px solid white;
        border-radius: 15px;
        background-color: white;
        height: auto;
        width: 112px;
        text-align: center;
        padding-top: 4px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
        position: absolute;
        top: 5px;
        right: 4px;
        display: flex;
        flex-direction: column;
        z-index: 2;
        span{
            font-size: smaller;
            transition: 0.2 ease-in-out;
            &:hover{
                color: $blueButton;
            }
        }
    }
}


@media (max-width: 780px) {

}
